body{
    margin: 0;
    padding: 90;
    
}
section{
    width: 100%;
    min-height: 800px;
}
.wave{
    margin-top: o;
    position: relative;
    background: linear-gradient(90deg, #0AEEEE, #16F4F4)
}
.wave:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: url(wave.png);
    background-size: cover;
}
#reservatorio{
    font-size: 100pt;
    text-align: center;
}